body{
    background-color: #0f121f;
    background-image: url("/static/images/back.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: #fff;
    min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    margin: 0;
    color: #fff;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
  max-width: 960px
  margin: 0;
}


header{
  font-family: 'Pacifico', cursive;
  color: #2b2b2b;
  text-shadow: 2px 2px 0px rgba(224, 37, 68.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 0;
  background-color: rgba(46, 61, 63, .4);
  border-radius: 20px;
  border: 2px solid #e02544;
}

.namenumber {
  text-align: center:
  justify-self: center;
  margin-left: 40px;
  font-size: 3.4em;

}
header img{
  max-height: 100%;
  justify-self: center;
}

.sidenav{
  justify-self: end;
  font-size: 1.4em;
  margin-left: 20px;
  margin-right: 10px;
}
.articles {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr;
  grid-gap: 30px:; 
  max-width: 75%;
  background-color: rgba(46, 61, 63, .9);
  border-radius: 10px;
  color: #fff;
}

.article {
  font-family: Courier New;
  padding: 10px;
  border: 2px solid #e02544;
  border-radius: 10px;
  position: relative;
  padding-bottom: 40px


}

.article h2{
  font-size: 1.2em;
}

.article .article-content{
  padding: 0;
}

.article img {
  max-width: 100%;
  object-fit: contain;
}

.splash{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

